// Lists
// -------------------
// Used in different places, like the Tree View, Commmand Palette etc.
// Overrides: atom/static/lists.less


// List Group -------------------

.list-group {
  li {
    padding-left: @component-padding/2;
    border-bottom: 1px dotted @base-border-color;
    color: @text-color-subtle;
    transition: all 125ms cubic-bezier(0.215, 0.610, 0.355, 1.000);

    // We want to highlight the background of the list items because we dont know their size.
    &.selected {
      color: @text-color-selected;
      background-color: @background-color-selected;
      z-index: 15;

      &:before { display: none; }
    }

    &:not(.selected) {
      &.text-info    { color: desaturate(@text-color-info,    50%); }
      &.text-success { color: desaturate(@text-color-success, 50%); }
      &.text-warning { color: desaturate(@text-color-warning, 50%); }
      &.text-error   { color: desaturate(@text-color-error,   50%); }
    }
  }
}


// List Tree -------------------

.list-tree {
  color: @text-color;

  .selected {
    color: @text-color-selected;
  }
}


// Select List -------------------

atom-panel.modal {
  & > .select-list {
    min-width: 500px;
  }

  .select-list atom-text-editor[mini] {
    margin-bottom: 0;
    padding: 10px 7.5px;
    line-height: 1em;
    min-height: calc(~"1em + 20px");
  }
}

.select-list {
  ol.list-group {
    margin-top: 0;
  }

  li {
    padding: @component-padding * .75 @component-padding; // @component-padding/2 @component-padding; // APEX-UI-SLIM

    &.selected {
      .secondary-line {
        color: @text-color-subtle;
      }
    }

    &.selected.active {
      color: @text-color-highlight;
    }
  }

  .status {
    float: right;
  }

  .character-match {
    // font-weight: normal !important;
    border-bottom: 1px solid @splash-color;
    color: inherit;
  }

  .error-message, .loading-message {
    display: inline-block;
    padding: 10px 7.5px;
  }
}

// Popover List -------------------
// Used as a popover for something like autocomplete.

autocomplete-suggestion-list.select-list.popover-list {
  @popover-list-padding: @component-padding/2;

  padding: @popover-list-padding;
  border-radius: @component-border-radius;
  background-color: @overlay-background-color;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.1), 0 0 1px 0 rgba(0,0,0,.14);

  .suggestion-description {
    background: transparent;
    font-size: .9rem;
  }

  .suggestion-description-content {
    font-size: .9rem;
  }

  ol.list-group {
    li {
      line-height: 2em;
    }
  }

  // .selected {
  //   background: @oc-gray-0;
  //
  //   .icon {
  //     color: @oc-gray-9;
  //   }
  // }
}

.list-group li:not(.list-nested-item) {
  line-height: 1.8;
}

autocomplete-suggestion-list {
  .suggestion-list-scroller {
    background: @overlay-background-color;
  }

  // .left-label {
  //   color: @oc-gray-6;
  // }
  //
  // .word-container {
  //   color: @oc-gray-5;
  // }

  .icon-container {
    // display: none !important;

    .icon {
      // background: rgba(255, 255, 255, .5) !important;
      color: @oc-gray-4;
    }
  }
}
