.settings-view {
  .link {
    color: @primary-color;

    &:hover {
      color: @primary-color;
    }
  }

  .alert {
    border: none;

    .alert-info {}
  }

  .config-menu {
    background: @base-background-color;

    .panels-menu {
      li {
        a {
          transition: 0.3s ease;
        }

        &.active {
          a {
            background: @background-color-selected;
          }
        }

        &:hover {
          background: @background-color-highlight;
        }
      }
    }
  }

  .package-card {
    transition: 0.3s ease;
    background: @background-color-highlight;
    border: none;

    &:hover {
      background: @background-color-highlight;
    }

    button.btn {
      background: @background-color-highlight;

      &:hover {
        background: @background-color-selected;
      }
    }
  }

  select.form-control {
    background: @background-color-highlight;

    &:hover {
      background: @background-color-selected;
    }

    & + button.btn {
      height: calc(~"@{tab-height} - 3px");
      margin-left: 3px;
    }
  }

  button.btn {
    background: @background-color-highlight;

    &:hover {
      background: @background-color-selected;
    }
  }
}
